@model eshop_app.Models.Order

@{
    ViewBag.Title = "Create";
    string itemIds = (string)ViewBag.SelectedItemsId;
}

<h2>Enter your shipping address.</h2>
<hr />

<head>
    <style>
        .form-horizontal {
            max-width: 600px; /* Adjust the max-width as needed */
            margin: auto;
        }

        .form-group {
            margin-bottom: 20px; /* Adjust the margin between form groups */
            margin-left: 27%;
        }

        span {
            display: block;
            font-weight: bold;
            margin-bottom: 8px;
        }

        input[type="text"],
        input[type="url"] {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #E1B800; /* Border color */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #E1B800; /* Border color */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        h2 {
            margin-top: 5%;
            text-align: center;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #F8F9FA;
        }

        .container.body-content {
            margin-top: 0; /* Remove the default top margin */
            margin-bottom: 0;
        }

        .form-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 20px;
        }

        h4 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn-fancy {
            padding: 0.4rem;
            background-color: #FED959;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            font-size: 18.5px;
            font-family: "Times New Roman";
            border: none;
            border-radius: 10px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease;
            color: white;
            margin-right: -3%;
        }

            .btn-fancy i {
                margin-right: 0.3rem;
                margin-left: 0.3rem;
                margin-top: 0.2rem;
            }

            .btn-fancy:hover {
                background-color: #FFD547;
                color: white;
            }

        .btn-container {
            text-align: center;
        }

            .btn-container button {
                margin: 0 10px;
            }
    </style>
</head>

@using (Html.BeginForm("Checkout", "Orders", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Hidden("itemIds", itemIds)

        <div class="form-group">
            <span>Street name</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreetName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StreetName, "",  new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <span>House number</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <span>City</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span>Zip</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span>Country</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="btn-container">
            <button type="button" onclick="window.location.href='@Url.Action("Index", "Baskets")'" class="btn btn-fancy">
                <i class="fa fa-arrow-left"></i> Cancel
            </button>
            <button type="submit" class="btn btn-fancy">
                <i class="fa fa-check-circle"></i> Create
            </button>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
